# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
icsospm

# Core dump files
core.*
vgcore.*

# VS Code Files
.vscode

# Test case files
sample-input.txt
sample-output.txt
input.txt
output.txt
